name: Build Python

on:
  workflow_dispatch:
  
permissions:
  contents: write
  packages: write
  id-token: write
      
jobs:
  build-py:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      max-parallel: 1
    runs-on: ${{ matrix.os }}


    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Create portable python
        run: python -m venv portable
          
      # Dependencies installieren
      - name: Install dependencies (Windows)
        if: runner.os == 'Windows'
        run: |
          portable/Scripts/pip.exe install torch torchvision
          portable/Scripts/pip.exe install -r requirements.txt
      - name: Install dependencies (Unix)
        if: runner.os != 'Windows'
        run: |
          portable/bin/pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu
          portable/bin/pip install --no-cache-dir -r requirements.txt

      - name: Zip portable Python (Windows)
        if: runner.os == 'Windows'
        run: |
          zipName=${{ matrix.os }}.zip
          powershell Compress-Archive -Path portable\* -DestinationPath $zipName
      - name: Zip portable Python (Unix)
        if: runner.os != 'Windows'
        run: |
            zipName=${{ matrix.os }}.zip
            zip -r $zipName portable


      - name: Upload as Release Asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: sketchblossom-python
          files: ${{ matrix.os }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
