name: Build Python

on:
  workflow_dispatch:

jobs:
  build-py:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Create portable python
        run: python -m venv portable
          
      # Dependencies installieren
      - name: Install dependencies (Windows)
        if: runner.os == 'Windows'
        run: portable/Scripts/pip.exe install -r requirements.txt
      - name: Install dependencies (Unix)
        if: runner.os != 'Windows'
        run: portable/bin/pip install -r requirements.txt

      - name: Copy to Unity folder
        run: mkdir -p UnityGameFiles/Assets/Python/${{ matrix.os }}

      - name: Copy for Windows
        if: runner.os == 'Windows'
        run: xcopy portable UnityGameFiles/Assets/StreamingAssets\\python\\${{ matrix.os }}\\ /E /I
      - name: Copy for Unix
        if: runner.os != 'Windows'
        run: cp -r portable/* UnityGameFiles/Assets/Python/${{ matrix.os }}/
